<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mummyding.phonemonitor" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fbaa69cdc95ef09ef261716fbd6e42a2" />
        <receiver android:name=".ReceiveMsg" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Control_Mode_Setting"
            android:label="@string/title_activity_control__mode__setting"
            android:noHistory="true"
            >
        </activity>
        <activity
            android:name=".Controlled_Mode_Setting"
            android:label="@string/title_activity_controlled__mode__setting"
            >
        </activity>
        <activity
            android:name=".showALinkDiaAty"
            android:label="@string/title_activity_show_alink_dia_aty"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name=".Control_View"
            android:label="@string/title_activity_control__view"
            >
        </activity>
        <activity
            android:name=".Controlled_View"
            android:label="@string/title_activity_controlled__view" >
        </activity>
        <service
            android:name=".sendPosAty"
            android:label="@string/title_activity_send_pos_aty" >
        </service>
        <service
            android:name=".call_backAty"
            android:label="@string/title_activity_call_back_aty" >
        </service>
        <service
            android:name=".vibratorAty"
            android:label="@string/title_activity_vibrator_aty" >
        </service>
        <service
            android:name=".ringAty"
            android:label="@string/title_activity_ring_aty" >
        </service>
        <service
            android:name=".rejectAty"
            android:label="@string/title_activity_reject_aty" >
        </service>
    </application>

</manifest>
